html
	head
		title Url shortener microservice
		link(rel="stylesheet", href="bootstrap.min.css")
		link(rel="stylesheet", href="style.css")
		link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
	body
		h1 Url Shortener Microservice
		blockquote
			p User stories
			ul
				li
					p I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
				li
					p When I visit that shortened URL, it will redirect me to my original link.
		h3 Example creation usage:
		code#first
		br
		code#second
		h3 Example creation output:
		code#third
		h3 Usage:
		code#fourth
		h3 Will redirect to:
		code#fifth
		br
		br
		em#me
			code Created by Onur Kırat
			br
			a(href="https://github.com/onrkrt")
				i.fa.fa-github.fa-3x
		script(src="app.js")